---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: peanut
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: peanut
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      peanut:
        containers:
          app:
            image:
              repository: brandawg93/peanut
              tag: 5.20.0@sha256:cc393cb30e6a632edad423eaddd419f0dcc85fee3cb5cef1e0e266bfc27e3b08
            env:
              TZ: Australia/Sydney
              WEB_PORT: &port 8080
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["{{ .Release.Name }}.martinbjeldbak.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config-file:
        type: configMap
        name: peanut
        globalMounts:
          - path: /config/settings.yml
            subPath: settings.yml
      tmp:
        type: emptyDir
