---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: qbittorrent
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      qbittorrent:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6
            env:
              TZ: Australia/Sydney
              QBT_WEBUI_PORT: &port 80
              QBT_TORRENTING_PORT: &torrentPort 42162
            # probes:
              # liveness: &probes
              #   enabled: true
              #   custom: true
              #   spec:
              #     httpGet:
              #       path: /api/v2/app/version
              #       port: *port
              #     initialDelaySeconds: 0
              #     periodSeconds: 10
              #     timeoutSeconds: 1
              #     failureThreshold: 3
              # readiness: *probes
              # startup:
              #   enabled: true
              #   spec:
              #     failureThreshold: 30
              #     periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
              # limits:
              #   memory: 18Gi
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [{
            "name": "vpn",
            "namespace": "kube-system",
            "ips": ["192.168.80.10/24"],
            "mac": "f4:60:b7:ad:25:04"
          }]
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.martinbjeldbak.com"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    configMaps:
      config:
        data:
          .qbt.toml: |-
            [qbittorrent]
            addr = "http://localhost:80"
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      config-file:
        type: configMap
        name: "{{ .Release.Name }}"
        globalMounts:
          - path: /config/.qbt.toml
            subPath: .qbt.toml
            readOnly: true
      data:
        type: nfs
        server: alderaan.internal
        path: /volume1/data
        globalMounts:
          - path: /data/downloads/qbittorrent
            subPath: downloads/qbittorrent
      tmp:
        type: emptyDir
