---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dragonfly-operator
spec:
  chartRef:
    kind: OCIRepository
    name: dragonfly-operator
  interval: 1h
  maxHistory: 3
  uninstall:
    keepHistory: false
  values:
    manager:
      image:
        repository: ghcr.io/dragonflydb/operator
    serviceMonitor:
      enabled: true
      timeout: 60s # puter is slow and TargetDown are raised
    grafanaDashboard:
      enabled: true
