---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex-auto-languages
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: plex-auto-languages
  values:
    controllers:
      plex-auto-languages:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/journeydocker/plex-auto-languages
              tag: 1.4.0@sha256:822f4f7b9fef95cca3a957316e66f6667df0fab0f52ae1591904802cfcbcdfa4
            env:
              TZ: Australia/Sydney
              PLEX_URL: http://plex.default.svc.cluster.local:32400
              # DEBUG: true
            envFrom:
              - secretRef:
                  name: plex-auto-languages-secret
            resources:
              requests:
                cpu: 50m
                memory: 128M
              # limits:
              #   memory: 1Gi
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        type: emptyDir
      local:
        type: emptyDir
        globalMounts:
          - path: /.local
