---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: dawarich-backup
spec:
  schedule: "0 0 0 * * 0"  # at 00:00 on Sunday
  backupOwnerReference: self
  cluster:
    name: dawarich-db
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
