# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/postgresql.cnpg.io/cluster_v1.json
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: dawarich-database
spec:
  instances: 1
  # renovate: datasource=docker depName=ghcr.io/cloudnative-pg/postgresql
  imageName: ghcr.io/cloudnative-pg/postgis:17-3.5@sha256:f429306b52e07d013e13cdc78fe987e29f81ed7e3e115784c12073f598904786
  bootstrap:
    # initdb:
    #   database: dawarich_development
    #   owner: dawarich
    #   secret:
    #     name: dawarich-cluster-credentials-secret
    #   postInitTemplateSQL:
    #     - CREATE EXTENSION postgis;
    #     - CREATE EXTENSION postgis_topology;
    #     - CREATE EXTENSION fuzzystrmatch;
    #     - CREATE EXTENSION postgis_tiger_geocoder;
    recovery:
      source: dawarich-database
  storage:
    size: 5Gi
    pvcTemplate:
      storageClassName: ceph-block
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 5Gi
  superuserSecret:
    name: dawarich-pg-superuser-secret
  monitoring:
    enablePodMonitor: true
  enableSuperuserAccess: false
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: b2-dawarich
  externalClusters:
    - name: dawarich-database
      barmanObjectStore:
        destinationPath: "s3://home-ops-postgres-backups/dawarich/"
        endpointURL: "https://s3.eu-central-003.backblazeb2.com"
        s3Credentials:
          accessKeyId:
            name: dawarich-backblaze-secret
            key: ACCESS_KEY_ID
          secretAccessKey:
            name: dawarich-backblaze-secret
            key: ACCESS_SECRET_KEY
        wal:
          maxParallel: 8
