---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: acestream-http-proxy
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: acestream-http-proxy
  values:
    controllers:
      acestream-http-proxy:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/martinbjeldbak/acestream-http-proxy
              tag: 3.1.1@sha256:4bf9d2b2ba9b3c27e0451a3d324dbb61e22aab4b948112f7332390203040a8bf
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.42.131
        ports:
          http:
            port: &port 6878
    route:
      app:
        hostnames: ["acestream.martinbjeldbak.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      cache:
        type: emptyDir
        globalMounts:
          - path: /.cache
      ace-database:
        type: emptyDir
        globalMounts:
          - path: /home/appuser/.ACEStream
