---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex-trakt-sync
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: plex-trakt-sync
  values:
    controllers:
      plex-trakt-sync:
        containers:
          app:
            image:
              repository: ghcr.io/taxel/plextraktsync
              tag: 0.34.20@sha256:4ba05fc4b0882638272ea325bc4fd76d50fab8d5e3e33fc7f087dd3e88497833
            args:
              - watch
            env:
              PLEX_BASEURL: http://plex.default.svc.cluster.local:32400
              PLEX_LOCALURL: http://plex.default.svc.cluster.local:32400
              PLEX_USERNAME: &username martinbjeldbak
              TRAKT_USERNAME: *username
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
            #     memory: 128M
              # limits:
              #   memory: 512M
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        enabled: true
        existingClaim: "{{ .Release.Name }}-cache"
        globalMounts:
          - path: /app/config
      config-yaml:
        type: configMap
        name: plex-trakt-sync-configmap
        globalMounts:
          - path: /app/config/config.yml
            subPath: config.yml
            readOnly: true
