---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: authentik
  values:
    authentik:
      postgresql:
        host: authentik-db-rw
        user: file:///postgres-creds/username
        password: file:///postgres-creds/password
      email:
        from: Authentik <authentik@martinbjeldbak.com>
        port: 25
    server:
      route:
        main:
          enabled: true
          hostnames: ["auth.martinbjeldbak.com"]
          parentRefs:
            - name: envoy-internal
              namespace: network
      volumes:
        - name: postgres-creds
          secret:
            secretName: authentik-postgres-credentials-secret
        - name: media
          persistentVolumeClaim:
            claimName: authentik
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containerSecurityContext:
        runAsNonRoot: true
        allowPrivilegeEscalation: false
        seccomProfile:
          type: RuntimeDefault
        capabilities:
          drop:
            - ALL
      volumeMounts:
        - name: media
          mountPath: /media
        - name: postgres-creds
          mountPath: /postgres-creds
          readOnly: true
      metrics:
        serviceMonitor:
          enabled: true
    worker:
      replicas: 1
      volumes:
        - name: postgres-creds
          secret:
            secretName: authentik-postgres-credentials-secret
      volumeMounts:
        - name: postgres-creds
          mountPath: /postgres-creds
          readOnly: true
  valuesFrom:
    - targetPath: authentik.secret_key
      kind: Secret
      name: authentik-secret
      valuesKey: secret_key
    - targetPath: authentik.email.host
      kind: Secret
      name: authentik-secret
      valuesKey: smtp_host
