---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: karakeep
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: karakeep
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
    controllers:
      karakeep:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/karakeep-app/karakeep
              tag: 0.31.0@sha256:20754dbdafb11dfe288bbb1c2342a7855081b08ea069e86fcf2d4a2d945d3653
            env:
              OAUTH_WELLKNOWN_URL: https://auth.martinbjeldbak.com/application/o/karakeep/.well-known/openid-configuration
              OAUTH_PROVIDER_NAME: authentik
              OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: true
              DISABLE_PASSWORD_AUTH: true  # OAuth login only
              DISABLE_SIGNUPS: true
              BROWSER_WEB_URL: http://127.0.0.1:9222
              CRAWLER_DOWNLOAD_BANNER_IMAGE: true
              CRAWLER_STORE_SCREENSHOT: true
              CRAWLER_ENABLE_ADBLOCKER: true
              DATA_DIR: /data
              MEILI_ADDR: http://127.0.0.1:7700
              NEXTAUTH_URL: https://karakeep.martinbjeldbak.com
              DISABLE_NEW_RELEASE_CHECK: true
              OCR_LANGS: eng,dan
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
              # limits:
              #   memory: 1Gi
          chrome:
            image:
              repository: gcr.io/zenika-hub/alpine-chrome
              tag: 124
            command:
              - chromium-browser
            args:
              - --headless
              - --no-sandbox
              - --disable-gpu
              - --disable-dev-shm-usage
              - --remote-debugging-address=0.0.0.0
              - --remote-debugging-port=9222
              - --hide-scrollbars
            securityContext:
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
          meilisearch:
            image:
              repository: docker.io/getmeili/meilisearch
              tag: v1.35.1@sha256:8b57fc3c7f46535ddef3828df1538465ac19d892eb57c9a10da6df0880bd5856
            args:
              - /bin/meilisearch
              - --experimental-dumpless-upgrade
            env:
              MEILI_NO_ANALYTICS: true
            envFrom:
              - secretRef:
                  name: karakeep-secret
            resources:
              requests:
                cpu: 10m
              # limits:
              #   memory: 4Gi
    service:
      app:
        ports:
          http:
            port: &port 3000
    route:
      app:
        hostnames: ["{{ .Release.Name }}.martinbjeldbak.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          karakeep:
            app:
              - path: /data
                subPath: karakeep
            meilisearch:
              - path: /meili_data
                subPath: meilisearch
