---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dawarich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: dawarich
  values:
    controllers:
      dawarich:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app: &dawarich
            image:
              repository: docker.io/freikin/dawarich
              tag: 1.1.0@sha256:31aad0680a0da32d60970f0781bdde793b8ba9fc75a744171427767ea0ad358b
            command:
              - "web-entrypoint.sh"
            args:
              - "bin/rails server -p 3000 -b 0.0.0.0"
            env:
              TIME_ZONE: Australia/Sydney
              RAILS_ENV: development
              REDIS_URL: redis://dawarich-redis:6379
              DATABASE_HOST: dawarich-db-rw
              DATABASE_NAME: dawarich_development
              MIN_MINUTES_SPENT_IN_CITY: 60
              APPLICATION_HOST: localhost
              APPLICATION_HOSTS: localhost,dawarich.martinbjeldbak.com
              APPLICATION_PROTOCOL: http
              REVERSE_GEOCODING_ENABLED: true
              SELF_HOSTED: "true"
              STORE_GEODATA: "true"
              SMTP_PORT: 25
              SMTP_DOMAIN: martinbjeldbak.com
              SMTP_FROM: noreply@martinbjeldbak.com
              PORT: &port 3000
            envFrom:
              - secretRef:
                  name: dawarich-secret
            # resources:
            #   requests:
            #     memory: "1Gi"
            #     cpu: "250m"
            #   limits:
            #     memory: "3Gi"
            #     cpu: "2000m"
          sidekiq:
            <<: *dawarich
            command:
              - "sidekiq-entrypoint.sh"
            # resources:
            #   requests:
            #     memory: "1Gi"
            #     cpu: "250m"
            #   limits:
            #     memory: "3Gi"
            #     cpu: "150m"
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["{{ .Release.Name }}.martinbjeldbak.com"]
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      data:
        existingClaim: dawarich
        globalMounts:
          - path: /var/app/public
            subPath: public
          - path: /var/app/storage
            subPath: storage
          - path: /dawarich_db_data
            subPath: dawarich_db_data
      watched:
        type: emptyDir
        globalMounts:
          - path: /var/app/tmp/imports/watched
