---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: icloudpd
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: icloudpd
  values:
    controllers:
      icloudpd:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/icloudpd/icloudpd
              tag: 1.32.2@sha256:eb5fad6a58dc77ffa8c87d47078df28269959726eb58ed23502d27f6c6976c94
            command: ["/bin/sh", "-c"]
            args:
              - |
                /app/icloudpd \
                  --directory /data \
                  --username "$ICLOUD_USERNAME" \
                  --password "$ICLOUD_PASSWORD" \
                  --password-provider webui \
                  --mfa-provider webui \
                  --watch-with-interval 3600 \
                  --smtp-host "$SMTP_HOST" \
                  --smtp-port 25 \
                  --smtp-no-tls \
                  --notification-email "$NOTIFICATION_EMAIL" \
                  --notification-email-from icloudpd@martinbjeldbak.com
            env:
              TZ: Australia/Sydney
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
            resources:
              requests:
                cpu: 10m
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: &port 8080
    route:
      app:
        hostnames: ["{{ .Release.Name }}.martinbjeldbak.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      data:
        type: nfs
        server: alderaan.internal
        path: /volume1/Photos/N/icloudpd
        globalMounts:
          - path: /data
      config-cache:
        existingClaim: "{{ .Release.Name }}-cache"
        globalMounts:
          - path: /root/.pyicloud
