---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kometa
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kometa
  values:
    controllers:
      kometa:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"
        cronjob:
          schedule: "@midnight"
          timeZone: &timezone Australia/Sydney
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
        containers:
          app:
            image:
              repository: kometateam/kometa
              tag: v2.2.2@sha256:32992226d1a505da3ed5d4e9c97bed8a6deb7aef36cd5ef8b1f519762607df45
            env:
              TZ: *timezone
              KOMETA_RUN: true
              KOMETA_READ_ONLY_CONFIG: true
            envFrom:
              - secretRef:
                  name: kometa-secret
            resources:
              requests:
                cpu: 10m
                # memory: 4096M
              # limits:
              #   memory: 8192M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        existingClaim: kometa
      config-assets:
        type: emptyDir
        globalMounts:
          - path: /config/assets
      config-logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
      config-files:
        type: configMap
        name: kometa-configmap
        globalMounts:
          - path: /config/config.yml
            subPath: config.yml
            readOnly: true
          - path: /config/martins.yml
            subPath: martins.yml
            readOnly: true
          - path: /config/danish.yml
            subPath: danish.yml
            readOnly: true
