---
machine:
  network:
    hostname: node-01
    interfaces:
      - deviceSelector:
          hardwareAddr: bc:24:11:9b:f9:42
        mtu: 1500
        dhcp: true
      - deviceSelector:
          hardwareAddr: bc:24:11:51:22:6c
        mtu: 1500
        dhcp: true
        ignore: true
    nameservers:
      - 8.8.8.8
  nodeLabels:
    topology.kubernetes.io/zone: beelink-eq14-1
  type: worker
