---
machine:
  network:
    hostname: node-02
    interfaces:
      - deviceSelector:
          hardwareAddr: bc:24:11:9b:a8:42
        mtu: 1500
        dhcp: true
        vip:
          ip: 192.168.1.100
      - deviceSelector:
          hardwareAddr: bc:24:11:51:22:7c
        mtu: 1500
        dhcp: true
        ignore: true
    nameservers:
      - 192.168.1.1
  nodeLabels:
    topology.kubernetes.io/zone: beelink-eqi12-1
    intel.feature.node.kubernetes.io/gpu: "true"
  type: controlplane
