---
machine:
  type: controlplane
  nodeLabels:
    topology.kubernetes.io/zone: m
    node.kubernetes.io/gpu: "true"
  install:
    diskSelector:
      model: KXG60ZNV256G KIOXIA
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-2  # HP EliteDesk 800 G6 Mini
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: link.driver == "e1000e" && mac(link.permanent_addr) == "b0:22:7a:ef:25:10"
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net1
selector:
  match: link.driver == "r8152" && mac(link.permanent_addr) == "f4:4d:ad:06:06:ac"
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - net0
  - net1
bondMode: 802.3ad
lacpRate: fast
xmitHashPolicy: layer3+4
miimon: 100
updelay: 200
downdelay: 200
mtu: 1500
hardwareAddr: b0:22:7a:ef:25:10
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: bond0
clientIdentifier: mac
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.30
vlanID: 30  # IOT
parent: bond0
mtu: 1500
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.80
vlanID: 80  # VPN
parent: bond0
mtu: 1500
