---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./atuin/ks.yaml
  - ./authentik/ks.yaml
  - ./autobrr/ks.yaml
  - ./bazarr/ks.yaml
  - ./calibre-web-automated/ks.yaml
  - ./dawarich/ks.yaml
  - ./epicgames/ks.yaml
  - ./esphome/ks.yaml
  - ./go2rtc/ks.yaml
  - ./home-assistant/ks.yaml
  - ./homebox/ks.yaml
  - ./icloudpd/ks.yaml
  - ./immich/ks.yaml
  - ./karakeep/ks.yaml
  - ./kometa/ks.yaml
  - ./mosquitto/ks.yaml
  - ./paperless/ks.yaml
  - ./peanut/ks.yaml
  - ./plex/ks.yaml
  - ./plex-auto-languages/ks.yaml
  - ./plex-trakt-sync/ks.yaml
  - ./prowlarr/ks.yaml
  - ./qbittorrent/ks.yaml
  - ./qui/ks.yaml
  - ./radarr/ks.yaml
  - ./recyclarr/ks.yaml
  - ./romm/ks.yaml
  - ./sabnzbd/ks.yaml
  - ./scrypted/ks.yaml
  - ./seerr/ks.yaml
  - ./smtp-relay/ks.yaml
  - ./sonarr/ks.yaml
  - ./syncthing/ks.yaml
  - ./tautulli/ks.yaml
  # - ./thelounge/ks.yaml
  - ./zigbee2mqtt/ks.yaml
