---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: epicgames-freegames
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: epicgames-freegames-secret
    template:
      data:
        EMAIL: "{{ .EPICGAMES_FREEGAMES_EMAIL }}"
        EMAIL_RECIPIENT_ADDRESS: "{{ .EPICGAMES_FREEGAMES_EMAIL }}"
        SMTP_HOST: "{{ .SMTP_RELAY_HOSTNAME }}"
  dataFrom:
    - extract:
        key: smtp-relay
    - extract:
        key: epicgames-freegames
