---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: epicgames-freegames
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: epicgames-freegames
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      epicgames:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/claabs/epicgames-freegames-node
              tag: latest@sha256:18f1e98f764b3c5bc41baf7d7cd28fb0d7883036994d154142bc7bb94fed3f62
            env:
              TZ: Australia/Melbourne
              BASE_URL: https://epic.local.martinbjeldbak.com
              CRON_SCHEDULE: "0 0,6,12,18 * * *"  # every 6 hours
              EMAIL_SENDER_ADDRESS: epicgames@martinbjeldbak.com
              EMAIL_SENDER_NAME: "Epic Games Captchas"
              RUN_ON_STARTUP: "true"
              SEARCH_STRATEGY: all
              SMTP_PORT: 465
              SMTP_SECURE: true
              SERVER_PORT: &port 3000
            envFrom:
              - secretRef:
                  name: epicgames-freegames-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              # limits:
              #   memory: 2000Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["epic.local.martinbjeldbak.com"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        type: emptyDir
        globalMounts:
          - path: /usr/app/config
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
