---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: go2rtc
spec:
  chartRef:
    kind: OCIRepository
    name: go2rtc
  interval: 1h
  values:
    controllers:
      go2rtc:
        strategy: Recreate
        containers:
          app:
            image:
              repository: ghcr.io/alexxit/go2rtc
              tag: 1.9.14@sha256:675c318b23c06fd862a61d262240c9a63436b4050d177ffc68a32710d9e05bae
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [{
            "name": "iot",
            "namespace": "kube-system",
            "ips": ["192.168.30.23/24"],
            "mac": "c6:07:27:af:fb:53"
          }]
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
    service:
      app:
        forceRename: "{{ .Release.Name }}"
        primary: true
        ports:
          http:
            port: *port
      streams:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.42.124
        externalTrafficPolicy: Local
        ports:
          streams-rtsp:
            port: 554
          streams-webrtc-tcp:
            port: 8555
            protocol: TCP
          streams-webrtc-udp:
            port: 8555
            protocol: UDP
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.martinbjeldbak.com"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    configMaps:
      config:
        data:
          go2rtc.yaml: |-
            ---
            # yaml-language-server: $schema=https://raw.githubusercontent.com/AlexxIT/go2rtc/master/www/schema.json
            log:
              streams: error # Prevent log spam from UniFi Protect
              api: trace
              onvif: trace
              homekit: trace
            api:
              listen: :80
              origin: "*"
            rtsp:
              listen: :554
              username: admin
              password: pass
            webrtc:
              listen: :8555
              candidates:
                - 192.168.42.124:8555
                - stun:8555
              ice_servers:
                - urls:
                    - stun:stun.cloudflare.com:3478
            streams:
              livingroom:
                - onvif://${GO2RTC_USERNAME}:${GO2RTC_PASSWORD}@192.168.50.80:2020
                - ffmpeg:livingroom#audio=opus
              litterrobot:
                - rtsp://${GO2RTC_USERNAME}:${GO2RTC_PASSWORD}@192.168.50.81/live0
                - ffmpeg:litterrobot#audio=opus
            homekit:
              livingroom:
                name: Living Room
              litterrobot:
                name: Litter-Robot
    persistence:
      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/go2rtc.yaml
            subPath: go2rtc.yaml
