---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: romm
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: romm
  values:
    controllers:
      romm:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/rommapp/romm
              tag: 4.6.1@sha256:7f8b04e2e7652ae3121f19e712373bc021530b3c500e0c077c69a9cfe431395c
            env:
              TZ: Australia/Sydney
              DB_HOST: romm-db-rw
              DB_PORT: 5432
              DB_NAME: romm
              ROMM_DB_DRIVER: postgresql
              ROMM_PORT: &port 8080
              ENABLE_SCHEDULED_RESCAN: true
              SCHEDULED_RESCAN_CRON: "0 3 * * *"  # at 3am
              ENABLE_SCHEDULED_UPDATE_SWITCH_TITLEDB: true
              ENABLE_SCHEDULED_RETROACHIEVEMENTS_PROGRESS_SYNC: true
              ENABLE_SCHEDULED_CONVERT_IMAGES_TO_WEBP: true
              FLASHPOINT_API_ENABLED: true
              HLTB_API_ENABLED: true
              SCHEDULED_UPDATE_SWITCH_TITLEDB_CRON: "0 4 * * *"  # at 4am
              DISABLE_USERPASS_LOGIN: true  # require sign in with Authentik
              OIDC_ENABLED: "true"
              OIDC_PROVIDER: authentik
              OIDC_REDIRECT_URI: https://romm.martinbjeldbak.com/api/oauth/openid
              OIDC_SERVER_APPLICATION_URL: https://auth.martinbjeldbak.com/application/o/romm
              HASHEOUS_API_ENABLED: true
            envFrom:
              - secretRef:
                  name: romm-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["{{ .Release.Name }}.martinbjeldbak.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          romm:
            app:
              - subPath: resources
                path: /romm/resources
              - subPath: assets
                path: /romm/assets
      config:
        type: configMap
        name: romm-configmap
        globalMounts:
          - path: /romm/config/config.yml
            subPath: config.yml
            readOnly: true
      library:
        type: nfs
        server: alderaan.internal
        path: /volume1/data/emulators
        globalMounts:
          - path: /romm/library
      tmpfs:
        type: emptyDir
        advancedMounts:
          romm:
            app:
              - path: /redis-data
                subPath: redis-data
              - path: /romm/config
                subPath: config
              - path: /tmp
                subPath: tmp
