---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: paperless
  values:
    controllers:
      paperless:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.8@sha256:e231ec11a1907bfdf172b4f120b4ef1994feb71e6cc624e8b88c53e2da3dfb62
            env:
              USERMAP_UID: 1000
              USERMAP_GID: 1000
              PAPERLESS_URL: https://paperless.martinbjeldbak.com
              PAPERLESS_TIME_ZONE: Australia/Sydney
              PAPERLESS_OCR_LANGUAGES: dan
              PAPERLESS_OCR_LANGUAGE: dan+eng
              PAPERLESS_ENABLE_UPDATE_CHECK: "true"
              PAPERLESS_REDIS: redis://paperless-redis:6379
              PAPERLESS_DBHOST: paperless-db-rw
              PAPERLESS_DBNAME: paperless
              PAPERLESS_DBUSER: paperless
              PAPERLESS_CONSUMPTION_DIR: /library/consume
              PAPERLESS_DEBUG: 1
              PAPERLESS_CONSUMER_POLLING: 60
              PAPERLESS_PORT: &port 8000
              PAPERLESS_FILENAME_FORMAT: "{{ `{{created_year}}/{{correspondent}}/{{created}} {{title}}` }}"
              PAPERLESS_TIKA_ENABLED: 1
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://127.0.0.1:3000
              PAPERLESS_TIKA_ENDPOINT: http://127.0.0.1:9998
              PAPERLESS_OCR_USER_ARGS: '{"invalidate_digital_signatures": true}'
              PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
              PAPERLESS_EMAIL_FROM: paperless@martinbjeldbak.com
            envFrom:
              - secretRef:
                  name: paperless-secret
            # resources:
            #   requests:
            #     cpu: 100m
              #   memory: 1000Mi
              # limits:
              #   memory: 5000Mi
            #
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
          gotenberg:
            image:
              repository: docker.io/gotenberg/gotenberg
              tag: 8.26.0@sha256:328551506b3dec3ff6381dd47e5cd72a44def97506908269e201a8fbfa1c12c0
            command:
              - "gotenberg"
              - "--chromium-disable-javascript=true"
              - "--chromium-allow-list=file:///tmp/.*"
            securityContext:
              runAsUser: 65534
              runAsGroup: 65534
          tika:
            image:
              repository: docker.io/apache/tika
              tag: 3.2.3.0-full
            securityContext:
              runAsUser: 65534
              runAsGroup: 65534
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["{{ .Release.Name }}.martinbjeldbak.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          paperless:
            app:
              - path: /usr/src/paperless/data
                subPath: data
              - path: /usr/src/paperless/media
                subPath: media
      consumption:
        type: nfs
        server: alderaan.internal
        path: /volume4/paperless-inbox
        advancedMounts:
          paperless:
            app:
              - path: /library/consume
