endpoints:
  - name: "${APP}"
    group: internal
    url: "https://${GATUS_SUBDOMAIN:=${APP}}.martinbjeldbak.com${GATUS_PATH:=/}"
    interval: 1m
    conditions:
      - "[STATUS] == ${GATUS_STATUS:=200}"
