---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: immich
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    image:
      # renovate: datasource=github-releases depName=immich-app/immich
      tag: v1.144.1
    env:
      DB_HOSTNAME: immich-db-rw
      DB_DATABASE_NAME: immich
      LOG_LEVEL: verbose
      REDIS_HOSTNAME: immich-redis
      TZ: Australia/Sydney
      DB_PASSWORD:
        valueFrom:
          secretKeyRef:
            name: immich-secret
            key: DB_PASSWORD
    envFrom:
      - secretRef:
          name: immich-secret
    immich:
      enabled: true
      persistence:
        library:
          existingClaim: immich-library-nas
    valkey:
      enabled: false  # using dragonfly, see ../redis/cluster.yaml
    server:
      resources:
        requests:
          cpu: 100m
          # memory: 2048M
      persistence:
        external:
          enabled: true
          existingClaim: immich-external-library-nas
      route:
        main:
          hostnames: ["{{ .Release.Name }}.martinbjeldbak.com"]
          parentRefs:
            - name: envoy-internal
              namespace: network
          rules:
            - backendRefs:
                - name: immich-server
                  port: 2283
