---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: immich
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    immich:
      enabled: true
      persistence:
        library:
          existingClaim: immich-library-nas
    controllers:
      main:
        containers:
          main:
            env:
              DB_HOSTNAME: immich-db-rw
              DB_DATABASE_NAME: immich
              LOG_LEVEL: verbose
              REDIS_HOSTNAME: immich-redis
              TZ: Australia/Sydney
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: immich-secret
                    key: DB_PASSWORD
            image:
              # renovate: datasource=github-releases depName=immich-app/immich
              tag: "v1.144.1"
    server:
      controllers:
        main:
          containers:
            main:
              resources:
                requests:
                  cpu: 100m
                  #cpu: 1500m
                  #memory: 2048M
      persistence:
        external:
          enabled: true
          existingClaim: "{{ .Release.Name }}-external-library-nas"
      route:
        main:
          hostnames: ["{{ .Release.Name }}.martinbjeldbak.com"]
          parentRefs:
            - name: envoy-internal
              namespace: network
          rules:
            - backendRefs:
                - name: immich-server
                  port: 2283
    machine-learning:
      controllers:
        main:
          strategy: Recreate
          containers:
            main:
              resources:
                requests:
                  cpu: 500m
                  memory: 4096M
      persistence:
        cache:
          type: persistentVolumeClaim
          existingClaim: "{{ .Release.Name }}-machine-learning-cache"
