---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: immich
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    immich:
      enabled: true
      persistence:
        library:
          existingClaim: immich-library-nas
    controllers:
      main:
        containers:
          main:
            env:
              LOG_LEVEL: verbose
              REDIS_HOSTNAME: immich-redis
              TZ: Australia/Sydney
              DB_HOSTNAME: immich-db-rw
              DB_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-secret
                    key: DB_USERNAME
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: immich-secret
                    key: DB_PASSWORD
              DB_DATABASE_NAME: immich
            image:
              # renovate: datasource=github-releases depName=immich-app/immich
              tag: v2.5.5
    server:
      controllers:
        main:
          containers:
            main:
              resources:
                requests:
                  cpu: 100m
                  #memory: 2048M
      persistence:
        external:
          enabled: true
          existingClaim: "{{ .Release.Name }}-external-library-nas"
      route:
        main:
          hostnames: ["{{ .Release.Name }}.martinbjeldbak.com"]
          parentRefs:
            - name: envoy-internal
              namespace: network
          rules:
            - backendRefs:
                - name: immich-server
                  port: 2283
    machine-learning:
      defaultPodOptions:
        resourceClaims:
          - name: gpu
            resourceClaimTemplateName: immich-machine-learning
      controllers:
        main:
          strategy: Recreate
          containers:
            main:
              image:
                repository: ghcr.io/immich-app/immich-machine-learning
                # renovate: datasource=github-releases depName=immich-app/immich
                tag: v2.5.5-openvino
              resources:
                claims:
                  - name: gpu
                requests:
                  cpu: 100m
                  # memory: 4096M
              probes:
                liveness: &probes
                  enabled: true
                  custom: true
                  spec:
                    httpGet:
                      path: /ping
                      port: 3003
                    initialDelaySeconds: 0
                    periodSeconds: 10
                    timeoutSeconds: 1
                    failureThreshold: 5
                readiness: *probes
                startup:
                  enabled: false
      persistence:
        cache:
          type: persistentVolumeClaim
          existingClaim: "{{ .Release.Name }}-machine-learning-cache"
