---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-library-nas
spec:
  capacity:
    storage: 1T
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: manual
  nfs:
    server: alderaan.internal
    path: /volume1/Photos/immich
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-library-nas
spec:
  storageClassName: manual
  volumeName: immich-library-nas
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: 1T
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-external-library-nas
spec:
  capacity:
    storage: 1T
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: manual
  nfs:
    server: alderaan.internal
    path: /volume1/Photos
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-external-library-nas
spec:
  storageClassName: manual
  volumeName: immich-external-library-nas
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: 1T
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-machine-learning-cache
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: ceph-block
