---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre-web-automated
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: calibre-web-automated
  values:
    controllers:
      calibre-web-automated:
        containers:
          app:
            image:
              repository: ghcr.io/crocodilestick/calibre-web-automated
              tag: V3.1.4@sha256:577e846f104fd21453ef306eefb4a95dd95b3b9ddd2463a150944494284da0fd
            env:
              TZ: Australia/Sydney
              PUID: 1000
              PGID: 1000
              NETWORK_SHARE_MODE: true
              CWA_WATCH_MODE: poll
              CACHE_DIR: /cache
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
                # TODO: hardcover token https://github.com/blackjid/home-ops/blob/0f7ba85f5ba878b78869ee7e522d04c90f3c40b9/kubernetes/apps/media/calibre-web-automated/app/helmrelease.yaml#L37
                #
            # probes:
            #   liveness: &probes
            #     enabled: true
            #     custom: true
            #     spec:
            #       httpGet:
            #         path: /health
            #         port: &port 80
            #       initialDelaySeconds: 0
            #       periodSeconds: 10
            #       timeoutSeconds: 1
            #       failureThreshold: 3
            #   readiness: *probes
            securityContext:
              allowPrivilegeEscalation: true  # s6 container
              readOnlyRootFilesystem: false  # s6 container
            resources:
              requests:
                cpu: 100m
              # limits:
              #   memory: 1Gi
    service:
      app:
        ports:
          http:
            port: &port 8083

    route:
      app:
        hostnames: ["calibre.martinbjeldbak.com"]
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  add:
                    - name: X-Scheme
                      value: https
            backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      media:
        type: nfs
        server: alderaan.internal
        path: /volume1/data/media
      calibre-library:
        type: nfs
        server: alderaan.internal
        path: /volume1/data/media/books
        advancedMounts:
          calibre-web-automated:
            app:
              - path: /calibre-library
      ingest:
        type: nfs
        server: alderaan.internal
        path: /volume4/calibre-web-automated-inbox
        advancedMounts:
          calibre-web-automated:
            app:
              - path: /cwa-book-ingest
      tmpfs:
        type: emptyDir
        advancedMounts:
          calibre-web-automated:
            app:
              - path: /cache
                subPath: cache
              - path: /tmp
                subPath: tmp
