---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre-web-automated
spec:
  chartRef:
    kind: OCIRepository
    name: calibre-web-automated
  interval: 1h
  values:
    controllers:
      calibre-web-automated:
        containers:
          app:
            image:
              repository: ghcr.io/crocodilestick/calibre-web-automated
              tag: v4.0.6@sha256:c31a738b6d5ec6982c050063dd3f063b6943eb1051fc81144789f840d9093a8d
            env:
              TZ: Australia/Sydney
              PUID: 1000
              PGID: 1000
              NETWORK_SHARE_MODE: true
              CWA_WATCH_MODE: poll
              CACHE_DIR: /cache
              S6_YES_I_WANT_A_WORLD_WRITABLE_RUN_BECAUSE_KUBERNETES: "1"
              S6_READ_ONLY_ROOT: "1"
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    port: &port 8083
                    path: /login
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 120
                  failureThreshold: 6
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    port: *port
                    path: /
                  failureThreshold: 90
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
                add:
                  # S6
                  - CHOWN
                  - SETUID
                  - SETGID
                  - FOWNER
                  - DAC_OVERRIDE
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 2Gi
    service:
      app:
        ports:
          http:
            port: &port 8083

    route:
      app:
        hostnames: ["calibre.martinbjeldbak.com"]
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  add:
                    - name: X-Scheme
                      value: https
            backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      media:
        type: nfs
        server: alderaan.internal
        path: /volume1/data/media
      calibre-library:
        type: nfs
        server: alderaan.internal
        path: /volume1/data/media/books
        advancedMounts:
          calibre-web-automated:
            app:
              - path: /calibre-library
      ingest:
        type: nfs
        server: alderaan.internal
        path: /volume4/calibre-web-automated-inbox
        advancedMounts:
          calibre-web-automated:
            app:
              - path: /cwa-book-ingest
      tmpfs:
        type: emptyDir
        advancedMounts:
          calibre-web-automated:
            app:
              - path: /cache
                subPath: cache
              - path: /tmp
                subPath: tmp
